#home {
  background-image: url(http://img822.imageshack.us/img822/5552/h9px.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 100%;
  height: 665px;
  margin: 0;
  padding: 0;
}
