#home {
  background-image: url(http://img822.imageshack.us/img822/5552/h9px.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 100%;
  height: 665px;
  margin: 0;
  padding: 0;
}

#banner-text {
  position: relative;
  top: 30%;
  color: #000;
}
#subscribe-form{
  position: relative;
  left: 20%;
  right: 20%;
  width: 50%;
  display: block;
  text-align: center;
  margin-top: 0.1%;
}
