body{
  x-overflow:none;
}
#home {
  background-image: url(https://d13yacurqjgara.cloudfront.net/users/391946/screenshots/1800309/nexus_6_psd.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-width: 100%;
  height: 665px;
  margin: 0;
  padding: 0;
}

#banner-text {
  position: relative;
  top: 70%;
  color: #00C853;
}
#subscribe-form{
  position: relative;
  left: 20%;
  right: 20%;
  width: 50%;
  display: block;
  text-align: center;
  margin-top: 0.1%;
}
